header {
    position: absolute;
    width : 100%;
    height : 8vh;
    left:0%;
    /* color: aliceblue; */
    color: aliceblue;
    background: rgba(0, 0, 0, 0.5);
    /*border: 1px solid black;*/
}


img {
    border-radius: 50%;
    max-height: 5vh;
    margin: 5px;
    margin-top: 9px;
}

.headerTitle {
    margin-left: 0%;
    margin-top: 10px;
    font-weight: bolder;
    font-style: italic;
    font-family: sans-serif;



   }

.userInfo {
    /* background-color: black; */
    border: 2px solid white;
    color: white; 
    position: absolute;
    margin-top: 12px;
    width: 150px;
    right:10vh;
    border-radius: 10px;
    padding: 4px;
    text-align: center;
}

h6{
    margin: 0%;
}

.username-pic{
    position: absolute;
    width: 33px;
    height: 33px;
    top: 3px;
    right:32vh;
}

.logout-pic{
    position: absolute;
    right: 25px;
    width: 30px;
    height: 30px;
    top: 12px;
}

.gotopages{
    position: absolute;
    top: 5px;
    right:52vh;
}
#navbarNav{
    background-color: none;
    color: white;
    position: absolute;
    padding-top: 1vh;
    left: 2vw;
    z-index:2;
    border-left: 1px solid;
    border-color: white;
    padding-left: 15px;
}

.nav-item :hover{
    background-color: #231955;
    border-radius: 10px;
    color: #191919;
}