<!-- Header -->
<header>
    <div class="nav text-allign-center">
        <!-- <img src="assets/icon/appLogo.jpg" alt="LOGO" height="90%"> -->
        <h3 class="headerTitle">AUDIT MANAGEMENT SYSTEM</h3>
        <!-- NAV -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link text-light px-2 mx-2" routerLink="../login">Login</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-light px-2 mx-2" routerLink="../checklist">Checklist</a>
                </li>
              </ul>
            </div>
          </nav>
        <!-- user-info -->
        <img class="username-pic" *ngIf="user.logStatus" src="assets/icon/username_pic_2.png" alt="LOGO"  height="90%">
        <div class="userInfo" *ngIf="user.logStatus">
            <h6>{{ user.username | titlecase }}</h6>
        </div>
        <!-- logout -->
        <input class="logout-pic" *ngIf="user.logStatus" type="image" src="assets/icon/logout_pic.png" title="Logout" alt="Logout" width="48" height="48" (click)="logout()">
        
    </div>
</header>