body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    /*background: linear-gradient(to right, black, 50%, teal )*/
}

/*footer {
    position: absolute;
    width : 100%;
    height : 8vh;
    color: aliceblue;
    background-color: #191919;
    border: 1px solid black;
}
footer{
    position: fixed;
    bottom: 0;
}
footer h5 {
    margin-left: 87%;
    margin-top: 20px;
}*/