<!-- Header -->
<app-nav-header></app-nav-header>
<!-- Component Body -->
<div class = "bodyl" >

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card rounded">
                <form class="box" autocomplete="off" (ngSubmit)="onLogIn()">
                    
                    <h1>LOGIN HERE</h1>
                   
                    <p class="text-muted"> Enter your User Crendientials!</p> 
                    <input type="text" [(ngModel)]="username" name="username" placeholder="Username" required> 
                    <input type="password" [(ngModel)]="password" name="password" placeholder="Password" required>  
                    <input type="submit" value="Login">
                    <input type="reset"  value="Reset">

                </form>
            </div>
            <div class="alert alert-danger error-message" role="alert" *ngIf="message.length>0">
                {{ message }}
            </div>
        </div>
    </div>
</div> 
</div>   

