/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';    /* Bootstrap */
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    /*background:none;*/
    
    background: none;
}

