h4 {
    margin-left: 77%;
    margin-top: 20px;
}
img {
    border-radius: 50%;
    max-height: 8vh;
    margin: 4px;
}

section{
    width: 100%;
    height: 100%;
    color: #fff;
} 
.userIn {
    background-color: #fff;
    border: 2px solid black;
    color: black;
    position: absolute;
    margin-top: 5px;
    right:2vh;
    border-radius: 18px;
    padding: 4px;
    text-align: center;
}
.logout{
    color: #fff;
    position: fixed;
    margin-top: 6vh;
    right:5.5vh;
}
.box1 {
    background: #022636;
    margin-top: 12vh;
    margin-left: 10vh;
    margin-right: 10vh;
    padding: 10px;
    color: #fff;
    /* text-align: center; */
    border-radius: 10px;
  }
  .box2 {
    background: linear-gradient(to right, #022636, 50%, teal );
    margin-top: 4vh;
    margin-left: 0%;
    margin-right: 0%;
    padding: none;
    width:100%;
    color: #fff;
    text-align: center;
    border-radius: 20px;
  }
  .dropclass{
      margin-top: 75px;
      margin-left: 20%;
  }
  .btn1{
      border-radius: 5px;
      width:75px;
  }
  th{
      font-size: x-large;
  }
  .leftside{
      padding-left: 15px;
      text-align: center;
      width: 30%;
      border-color: #fff;
      border-width: 1px;
      border-top-left-radius: 10px;
      border-left: 0px;
  }
  .rightside{
      padding-top: 2px;
      padding-bottom: 2px;
      text-align: center;
      width: 20%;
      border-color: #fff;
      border-width: 1px;
      border-radius: 10px;
      border-right: 1px;
  }
  .rightend{
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    width: 30%;
    border-color: #fff;
    border-width: 1px;
    border-radius: 10px;
    border-right: 0px;
    border-left: 1px;
}
  .topside{
      border-top: 0px;
      border-right: 0px;
  }
  .yesbtn{
      margin-right: 10px;
      border-radius: 5px;
      width: 50px;
  }
  .nobtn{
    border-radius: 5px;
    width: 50px;
}
  #opt{
      width: 100px;
    border-radius: 5px;
  }
  .finalsubmitbtn{
      position: absolute;
      left: 50%;
      margin-top: 10px;
      border-radius: 5px;
      width:75px;
      margin-bottom: 10%;
      text-align: center;
      left: 47%;
  }
  .lastrow{
      border-bottom: 0px;
  }
.checkbtn  {
    background-color: green;
}
.checkbtn:focus {     
    background-color:yellow;    
}
.checkbtn:visited {
    background-color: blue;
}

.qdiv{
    background-color: #022636;
    border-radius: 10px;
}

.qdivbtn{
    background-color: #022636;
    text-align: center;
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.main{
    background: white;
    position: absolute;
    z-index: -1;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
}

.bigbtn, .lastbtn{
    width: 120px;
}
.bigbtn{
	border:white;
	background: white;
    padding: 5px;
}

.largeLable{
    font-size: large;
}

.selectTag{
    position: absolute;
    top:90px;
    left:870px;
    width: 270px;
    height: 5vh;
}
.tab1{
    text-align: center;
}
.error-message{
    position: absolute;
    margin: 0%;
    margin-bottom: 10px;
    text-align: center;
    left: 600px;
    color: black;
}