.result-card{
    top:150px;
    background: linear-gradient(to right, #04163d, 50%, teal );
    color:#ffffffb2
}

.status-btn{
    background-color: ;
    width: 100px;
    height: 25px;
    border-radius: 0%;
}

.status-btn-type{
    background-color: black;
}
.dark-table{
    background-color: black;
}

td, th{
    text-align: center;
    background-color: black;
    color:#ffffffb2;

}
.bigbtn{
	border:white;
	background: white;
    font-weight: bold;
    padding: 5px;
}
.endbtn{
    margin-bottom: 10px;
    text-align: center;
}

.tsev{
    font-weight: 500;
}

.dotdots{
    position: absolute;
    top:15vh;
    left:37vw;
}