<!-- Header -->
<app-nav-header></app-nav-header>
<!-- Component Body -->
<div class="body">
    <div class="base io"> 
        <h1 class="io">500</h1>
        <h2>INTERNAL SERVER ERROR</h2>
        <h5>
			 Oops, something went wrong.           
        </h5>
        <h5>
        	Try again to re-login!!
        </h5>
    </div>
</div>
<style>
.body {
  background:linear-gradient(to right, #2F4F4F, 80%, black );
  margin: 0%;
  padding: 0%;
  width: 100vw;
  height: 100%;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
  position: absolute;
  z-index: -1;
}
.body .base {
  width: 120;
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  flex-direction: column;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
.body .base h1 {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  font-family: "Ubuntu", sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 17vw;
  display: block;
  margin: 0;
  color: black;
  position: relative;
  z-index: 0;
  animation: colors 0.4s ease-in-out forwards;
  animation-delay: 0.5s;
}
.body .base h1:before {
  position: absolute;
  top: -12%;
  right: 43.0%;
  transform: rotate(180deg);
  font-size: 6vw;
  color: #f6c667;
  z-index: -1;
  text-align: center;
  animation: lock 0.2s ease-in-out forwards;
  animation-delay: 0.5s;
}
.body .base h2 {
  font-family: "Cabin", sans-serif;
  color: black;
  font-size: 5vw;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  animation: colors 0.4s ease-in-out forwards;
  animation-delay: 0.7s;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
.body .base h5 {
  font-family: "Cabin", sans-serif;
  color: black;
  font-size: 3vw;
  margin: 0;
  text-align: center;
  opacity: 0;
  animation: show 2s ease-in-out forwards;
  color: #ffffff;
  animation-delay: 1s;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

@keyframes lock {
  50% {
    top: -4%;
  }
  100% {
    top: -6%;
  }
}
@keyframes colors {
  50% {
    transform: scale(1.1);
  }
  100% {
    color:  #708090;
  }
}
@keyframes show {
  100% {
    opacity: 1;
  }
}
</style>